page-temperature {
    #canvas {
        height: 100%;
    }
    #canvas svg {
        height: 100%;
        width: 100%;
        border: 2px solid black;
    }
    .line {
        fill: none;
        stroke: #ffffff;
        stroke-width: 3px;
    }
    .text {
        fill: #ffffff;
        font-size: 15px;
        font-weight: bold;
    }
    // axis
    .axis text {
        fill: #ffffff;
        font-weight: bold;
        font-style: italic;
        font-size: 12px;
    }
    .tick line {
        stroke: #ffffff;
        stroke-dasharray: 5, 5;
    }
    .tick text {
        font-size: 14px;
    }
}